@import "tailwindcss";

html,
body,
:root {
    height: 100%
}
/* HIDE SCROLLBAR — Chrome, Safari */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  /* HIDE SCROLLBAR — Firefox */
  /* .scrollbar-hide {
    scrollbar-width: none;
  }
   */