@import "tailwindcss";

html,
body,
:root {
    height: 100%;
}

/* HIDE SCROLLBAR — Chrome, Safari, Edge */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* HIDE SCROLLBAR — Firefox */
.scrollbar-hide {
    scrollbar-width: none;
}

html, body, * {
  font-family: var(--font-satoshi), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}